html, body {
    height: 100%;
    margin: 0;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
    height: 100%;
    background-attachment: fixed;
    background-image: url(/sivu/images/tausta.jpeg);

}
.Footer {
    margin-top: auto;
}

.center-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; 
    padding-top: 300px;
    padding-bottom: 300px;
  }

.payment-form {
    background: white;
    padding: 20px 25px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    
    
    
  }

  .payment-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .payment-icons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }

  .payment-icons img {
    height: 30px;
  }

  .payment-form input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .payment-form button {
    background-color: #f4a52e;
    color: white;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }

  .payment-form button:hover {
    background-color: #d68f1e;
  }

  .message {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
  }

  #receipt {
    display: none;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

#receipt h3 {
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

#receipt p {
    margin: 8px 0;
    font-size: 14px;
}

#receipt strong {
    display: inline-block;
    width: 100px;
}