html, body {
    height: 100%;
    margin: 0;
    position: relative; /* For absolute positioning inside */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
    height: 100%;
    background-attachment: fixed;
    background-image: url(/sivu/images/tausta.jpeg);
}

.message {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
    color: black; /* Tekstin väri mustaksi */
}

.success {
    color: black; /* Tekstin väri mustaksi myös onnistumisviestille */
}

.error {
    color: black; /* Tekstin väri mustaksi myös virheviestille */
}

.payment-section {
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;
    width: 100%;
    max-width: 400px;
    
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 2vw auto;
    color: rgb(255, 255, 255);
   
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    max-width: 1200px; /* Center the section with a max width */
    
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.gift-card-amount {
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.2em;
    color: #4CAF50;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

.form-group input:focus {
    border-color: #4CAF50;
    background-color: #fff;
    outline: none;
}

.submit-button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #45a049;
}

/* Responsiivisuus */
@media (max-width: 480px) {
    .payment-section {
        padding: 20px;
    }

    h2 {
        font-size: 1.1em;
    }
}